/* elements of the webpage */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 0px;
    max-width: 220px;
}


/*classes */
.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-list li a, .fd-description{
    font-size: 18px;
    color: #E5E7EB;
}

.header-title {
    font-size: 24px;
    color: #f9faf8;
}

.first-div-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 0px;
}

.fd-title-desc {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    max-width: 400px;
}

.fd-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
    color: #f9faf8;
}

.second-div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 170px;
}

.game-list-container {
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: center;
    flex-wrap: wrap;
}

.game-list {
    width: 250px;
}

.second-header {
    font-size: 30px;
    color: #1F2937;
    margin-bottom: 50px;
}
.game-list-container .game-list p {
    color: #1F2937;
    font-size: 20px;
}

.third-div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 250px;
}

.third-div-container h4 {
    text-align: right;
    align-self: flex-end;
    margin-top: 0px;

}

.third-div-container p {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
    margin-bottom: 0px;
}

.fourth-div-container {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 250px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.fourth-h3-p {
    
}

/* Individual image classes for resizing */
.notebook {
    height: 45px;
    width: auto;
}

.cover-image {
    height: 400px;
    width: auto;
    border-radius: 10px;
}

.game-list-image {
    height: 200px;
    width: auto;
    border: #3882F6 solid 4px;
    border-radius: 20px;
}
