
/* Individual image classes for resizing */
.notebook {
    height: 50px;
    width: auto;
}

.cover-image {
    height: 300px;
    width: auto;
}

.game-list-image {
    height: 200px;
    width: auto;
}